.box {
  max-width: 800px;
  margin: 0 auto;
}

.image_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
input {
  margin: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
}
button {
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px;
  font-size: 15px;
}
